<!DOCTYPE html>
<html>
<head>
    <title>Users Table</title>
</head>
<style>body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

table {
    margin: 0 auto;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}</style>
<body>
    <div class="container">
        <h1>Users Table</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Nombre completo</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user['first_name'] }}</td>
                        <td>{{ user['last_name'] }}</td>
                        <td>{{ user['first_name'] }} {{ user['last_name'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>